@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
* {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
  margin-top: 100px;
}
.head {
  width: 100%;
  /* background-color: rgb(152, 146, 146); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 603px;
  background-color: rgba(87, 87, 87, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  z-index: 100000000000;
}

.nav_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  /* background-color: red; */
}

.img {
  width: 65px;
  height: 65px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  text-decoration: none;
  box-sizing: border-box;
  /* background-color: red; */
}
.link {
  text-decoration: none;
  color: white;
  padding: 6px;
}
.link:hover {
  background-color: #ffffff;
  color: grey;
  border-radius: 5px;
  transition: 1.5s;
}
.return {
  display: none;
}
.nav_menu {
  display: none;
}
.nav_menu_wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 25px;
  padding-top: 10px;
}
.burger {
  display: none;
}
@media screen and (max-width: 425px) {
  .nav {
    display: none;
  }
  .nav_menu {
    width: 60%;
    height: 100vh;
    position: absolute;
    background-color: grey;
    top: 65px;
    left: 170px;
    display: flex;
    justify-content: center;
  }
  .return {
    display: flex;
    /* background-color: red; */
    width: 56%;
    position: absolute;
    top: 0px;
    bottom: -500px;
    right: 246px;
  }
  .burger {
    display: flex;
  }
  /* .nav_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  } */
}

@media screen and (max-width: 425px) {
  .head {
    bottom: 493.6px;
  }

  .teem {
    display: none;
  }
}
